<div class="new_account">
<%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
  <p>Name</p>
  <input name="name" value="<%= @user.name %>">
  <p>Image</p>
  <input name="image_name" type="file">
  <p>Email</p>
  <input name="email" value="<%= @user.email %>">

    <input type="submit" value="Update">

<% end %>
</div>

