<% @users.each do |user| %>
    <div class="user_profile">
        <h><img src="<%= "/user_images/#{user.image_name}" %>"></h>
        <h3><%= link_to(user.name, "/users/#{user.id}") %></h3>
    </div>
    <% end %>